body{
    background-image: url(./kepek/hatter1.png);
    background-repeat: no-repeat;
    background-color: black;
    color: azure;
    font-size: larger;
}

@media (max-width: 979px) {
    .telo-meret {
        margin-left: 0;
        margin-right: 0;
    }
}

h1{
    font-size: 60px;
    margin-bottom: 60px;
    text-align: center;
}
.navbar_center{
    margin: auto;
    font-size: large;
    font-size: 225%;
}
.nav-link{
    color: rgb(203, 216, 216);
}

div{
    margin-left: 4rem;
    margin-right: 4rem;
    padding: 0.5rem;
}

.content{
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 3rem;
    overflow: auto;
}

img{
    max-width: 100%;
    display: block;
    margin: auto;
}

button{
    padding: 0.4rem;
}

a:hover{
    color: aqua;
    size: 10%;
}