body{
    background-image: url(./fnafpicbanner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(54, 54, 54);
    color: azure;
    margin-top: 50px;
}
h1{
    font-size: 60px;
    margin-bottom: 60px;
    text-align: center;
}
.navbar_center{
    margin: auto;
    font-size: large;
    font-size: 225%;
}
.nav-link{
    color: rgb(203, 216, 216);
}

div{
    margin-left: 4rem;
    margin-right: 4rem;
    padding: 0.5rem;
}

.content{
    background-color: rgba(27, 27, 27, 0.75);
    border-radius: 5%;
}

