body {
    background-image: url(./kepek/hatter1.png);
    background-color: black;
    color: azure;
    font-size: larger;
    margin-bottom: 50px;
}

h1 {
    font-size: 60px;
    margin-bottom: 60px;
    text-align: center;
}

.navbar_center {
    margin: auto;
    font-size: large;
    font-size: 225%;
}

.nav-link {
    color: rgb(203, 216, 216);
}

div {
    margin-left: 2rem;
    margin-right: 2rem;
}

.behuzas {
    margin-left: 6rem;
    margin-right: 6rem;
    padding: 0.5rem;
}

.content {
    background-color: rgba(29, 29, 29, 0.8);
    border-radius: 3rem;
    overflow: auto;
}

#fooldal {
    max-width: 100%;
    display: block;
    margin: auto;
}

#fnaf1_img {
    max-width: 40%;
    display: block;
    margin: auto;
}

.button {
    padding: 0.4rem;
    background-color: transparent;
    color: white;
    border: 0px solid transparent;
}

.button:hover{
    color: red;
}

.nav-link:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(161, 38, 38);
    font-weight: 500;
}

li {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.jumpscare {
    width: 100%;
}

.telo-focim-fnaf8{
    width: 100%;
}

.center{
    text-align: center;
}

.leiras {
    margin-right: 20rem;
}

.videok {
    width: 70%;
    border: 2px solid gray;
    background-color: rgb(17, 17, 17);
}

.video {
    width: 100%;
}

h3 {
    color: antiquewhite;
}

.kep{
    max-width: 80%;
    float: right;
}

.quiz-kep{
    display: block;
    margin: auto;
    width: 20%;
}

.gomb{
    width: 12rem;
    height: 12rem;
}

.kozep{
    text-align: center;
    margin: auto;
}

.helyes{
    text-align: center;
    color: green;
    text-decoration: underline;
}

.helytelen{
    text-align: center;
    color: red;
    text-decoration: underline;
}

#kerdes2{
    display: none;
}

#kerdes3{
    display: none;
}

.tovabb_gomb{
    float: right;
}

@media(max-width: 979px) {
    .telo-meret {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
        border-radius: 0px;
    }

    .telo-hatter {
        background-image: url(./kepek/telo-hatter.jpg);
        background-size: cover;
        background-repeat: repeat-y;
        background-position: center;
    }

    .telo-videok {
        width: 100%;
    }

    .quiz-kep{
        width: 100%;
    }
}